:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet:  hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--soft-violet), hsla(240, 73%, 65%, 0.89));
}

main {
    background-color: white;
    border-radius: 20px;
    margin: 150px 25px 80px 25px;
    padding-top: 100px;
    width: 330px;
    height: 100%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.438);
}

details>summary {
    list-style: none;
  }
  
summary::-webkit-details-marker {
    display: none
  }

summary::after {
    content: url(/images/icon-arrow-down.svg);
    position: absolute;
    right: 50px;
  }

details[open] summary::after {
    content: '🔼';
  }

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

details {
    padding: 10px 20px 10px 20px;
    
}

hr {
    width: 280px;
    border: 1px solid var(--light-grayish-blue);
}

#lady-online {
    width:250px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 35px;
}

.question:hover {
    cursor: pointer;
    color: var(--soft-red);
}

.answer {
    padding-right: 50px;
}

.bottom-line {
   margin-bottom: 50px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
